*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #caecf7;
}
nav{
    width: 100%;
    height: 100px;
    background-color:#22b4e0 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.input{
    display: flex;
}
input{
    width: 450px;
    height: 40px;
}
.search{
    background-color: #7ed6b9;
    color: #6dc4e0;
    padding: 8px;
    margin-left: -30px;
}
.cart{
    display: flex;
    padding: 0px 50px;
    width: 30px;
    height: 30px;
}
.cart img{
    margin-top: 2px;
    padding-left: 10px;
    cursor: pointer;
}
/* home */
.home{
    display: grid;
    grid-template-columns: 20% 75%;
    margin: 30px 0;
    justify-content: space-evenly;
}
.categories{
    background-color: #f5f5f5;
    border: 1px solid #f5ead6;
    padding: 15px;
}
.categories h2{
    background-color: #22b4e0;
    color: #fff;
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
.categories ul li{
    list-style-type: none;
    padding: 8px 0px;
    padding-left: 20px;
}
.categories ul li a{
    text-decoration: none;
    color: #0a0202;
}
.laptop-img{
    background: linear-gradient(to left, #22b4e0, #f5f5f5);
    border: 1px solid #f5ead6;
   /* background-image: url(./hero/img.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;  */
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.laptop-img h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color:#0644ee;
    text-align: center;
    font-size: 28px;
}
.Smart-phones{
    margin-left: 20px;
}
.group-phones{

}
/* .Smart-phones{
    margin-left: 20px;
}
.phone-category{
    display: flex;
}
.mobile{
    background-color: #f5f5f5;
    width: 150px;
    height: 150px;
}
.phone-category h3{
    padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
.phone-category{
      display: flex;
      justify-content: space-between;
      /* padding-bottom: 20px; */
      /* margin: 40px 40px 40px 40px; 
  }
.mobile{
      height: 350px;
      border: 2px solid black;
      background-color: wheat;
      border-radius: 5px;
      padding-bottom: 10px;
  }
.mobile img{
      width: 150px;
      height:150px;
      border-radius: 5px;
      filter: opacity(0.9);
  } */




/* small screens */
@media(max-width:100px){
    nav{
        height: 80px;
    }
    #logo{
        width: 100px;
        height: 100px;
    }
    input{
        width: 250px;
        height: 30px;
    }
    .search{
        margin-left: -20px;
        padding: 7px;
    }
    .cart{
        padding: 0px 20px;
        width: 20px;
        height: 20px;    
    }
    .cart img{
        padding-left: 7px;
    }
}
/* mobile */
@media(max-width:400px){
    nav{
        height: 60px;
    }
    #logo{
        width: 60px;
        height: 50px;
    }
    input{
        width: 170px;
    }
    .search{
        background-color: transparent;
        color: black;
        padding-top: 2px;
        margin-left: -28px;
    }
    .cart{
        padding: 0px 15px;
        width: 15px;
        height: 15px;
    }
    .cart img{
        padding-left: 5px;
    }
    
}